[Unit]
Description=Choria.io Federation Broker
After=network.target

[Service]
StandardOutput=syslog
StandardError=syslog
ExecStart=/opt/puppetlabs/bin/mco federation broker --config /etc/puppetlabs/mcollective/federation/%i.cfg

[Install]
WantedBy=multi-user.target
